* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #fdb347;
}

.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px;
}

.gallery img {
    width: 100%;
    max-width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.gallery .card {
    width: 100%;
    max-width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.gallery::after {
    content: "";
    width: 350px;
}

.card {
    float: left;
    padding-right: 30px;
    border-radius: 10px 0px 0px 10px;
}

.right {
    padding: 2px 16px;
    height: 496px;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
    max-width: 550px;
    min-width: 550px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 20%;
    margin: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
    margin: 0 auto;
    background-color: white;
}

.card img {
    width: 100%;
    margin: 0 auto;
}

.hide {
    display: none;
}

.triggerDIV:hover+.hide {
    display: inline-block;
    color: black;
}